<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- css-->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/main.css">

    <!--Vendor js-->
    <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="static/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src='static/js/vendor/lodash.js'></script>
    <script type='text/javascript' src='static/js/vendor/knockout-3.3.0.js'></script>
    
    <!--js-->
    <script src="static/js/main.js"></script>
    <script src="static/js/server.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">BYT UT MIG</a>
            </div>
        </div>
    </nav>
    <div class="main-container">
        <!--ko if: settingsVisible() && !done();-->
        <div id="Settings" class="jumbotron head">
            <div id="Settings" class="container">
                <h4>Hur många frågor vill du besvara?</h4>
                <form class="form-inline">
                    <input type="number" class="form-control" data-bind="value: numberOfQuestions">
                    <button type="submit" class="btn btn-primary" data-bind="click: takeTest">Go!</button>
                </form>
            </div>
        </div>
        <!-- /ko-->
        <!--ko if: !settingsVisible() && !done() && !doneDone() && activeQuestion()-->
        <div id="Question" class="jumbotron head">
            <div class="container">
                <h4 data-bind="text: 'Fråga: ' + (activeIndex() + 1) + ' / ' + numberOfQuestions()"></h4>
                <h3 data-bind="text: activeQuestion().title"></h3>
                <img data-bind="attr: {src: activeQuestion().image1}" />
                <img data-bind="attr: {src: activeQuestion().image2}" />
                <img data-bind="attr: {src: activeQuestion().image3}" />
                <img data-bind="attr: {src: activeQuestion().image4}" />
            </div>
        </div>

        <div id="Answers" class="container">
            <div class="radio answers">
                <!--ko if: activeQuestion().answer1-->
                <p>
                    <label>
                        <input id="a1" type="radio" name="optradio" value="1">
                        <span data-bind="text: activeQuestion().answer1"></span>
                    </label>
                </p>
                <!-- /ko-->
                <!--ko if: activeQuestion().answer2-->
                <p>
                    <label>
                        <input id="a2" type="radio" name="optradio" value="2">
                        <span data-bind="text: activeQuestion().answer2"></span>
                    </label>
                </p>
                <!-- /ko-->
                <!--ko if: activeQuestion().answer3-->
                <p>
                    <label>
                        <input id="a3" type="radio" name="optradio" value="3">
                        <span data-bind="text: activeQuestion().answer3"></span>
                    </label>
                </p>
                <!-- /ko-->
                <!--ko if: activeQuestion().answer4-->
                <p>
                    <label>
                        <input id="a4" type="radio" name="optradio" value="4">
                        <span data-bind="text: activeQuestion().answer4"></span>
                    </label>
                </p>
                <!-- /ko-->
            </div>
        </div>
        <div id="Actions" class="jumbotron foot">
            <div class="container">
                <div class="prev-button">
                    <button type="button" class="btn btn-primary" data-bind="click: prev">&laquo; Tillbaka</button>
                </div>
                <!--<div class="col-md-3">
                    <button type="button" class="btn btn-info" data-bind="click: mark">Markera</button>
                </div>-->
                <!--ko if: numberOfQuestions() > activeIndex() + 1-->
                <div class="next-button">
                    <button type="button" class="btn btn-primary" data-bind="click: next">Nästa &raquo;</button>
                </div>
                <!-- /ko-->
                <!--ko if: activeIndex() + 1 >= numberOfQuestions()-->
                <div class="next-button">
                    <button type="button" class="btn btn-success" data-bind="click: showSummary">Sammanställ svaren &raquo;</button>
                </div>
                <!-- /ko-->
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: !settingsVisible() && !doneDone() && done() -->
        <div class="container">
            <table class="table">
                <caption>Så här har du svarat</caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fråga</th>
                        <th>Ditt svar</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko foreach: questions() -->
                    <tr>
                        <td data-bind="text: (index + 1)"></td>
                        <td class="col-md-5" data-bind="text: title"></td>
                        <td class="col-md-5" data-bind="text: userAnswer()"></td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
        <div id="Actions2" class="jumbotron foot">
            <div class="container">
                <div class="prev-button">
                    <button type="button" class="btn btn-primary" data-bind="click: backToQuestions">&laquo; Tillbaka till frågorna</button>
                </div>

                <div class="next-button">
                    <button type="button" class="btn btn-success" data-bind="click: correctTest">Rätta prov &raquo;</button>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: !settingsVisible() && !done() && doneDone()-->
        <div id="Result" class="jumbotron head">
            <div class="container">
                <h2 data-bind="text: result()"></h2>
                <!-- ko if: !anyMistakes() -->
                <h2>Vilken sjärna som hade alla rätt ;)</h2>
                <!-- /ko-->
            </div>
        </div>
        <div class="container">
            <!-- ko if: anyMistakes()-->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fråga</th>
                        <th>Ditt svar</th>
                        <th>Korrekt svar</th>
                        <th>Förklaring</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko foreach: questions() -->
                    <!-- ko if: !answeredCorrectly-->
                    <tr>
                        <td data-bind="text: (index + 1)"></td>
                        <td class="col-md-3" data-bind="text: title"></td>
                        <td class="col-md-3" data-bind="text: userAnswer()"></td>
                        <td class="col-md-3" data-bind="text: correctAnswer"></td>
                        <td class="col-md-3" data-bind="text: explination()"></td>
                    </tr>
                    <!-- /ko-->
                    <!-- /ko -->
                </tbody>
            </table>

            <!-- /ko-->
        </div>
        <!-- /ko -->
    </div>
    <script>
        $(function () {
            window.bajs = new MK.vm.Questions();
            ko.applyBindings(window.bajs);
        });
    </script>
    
</body>
</html>
