<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <log4net>
        <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
            <logName value="Lundalogik" />
            <applicationName value="LIME Insight" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%message%newline%newline%exception" />
            </layout>
            <threshold value="WARN" />
        </appender>

        <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
            <file value="${ALLUSERSPROFILE}\Application Data\Lundalogik\LIME Insight\Logs\insight.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="10" />
            <maximumFileSize value="5MB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %-5level [%thread] %logger [%M] - %message%newline%exception" />
            </layout>
        </appender>

        <appender name="MarkupFile" type="log4net.Appender.RollingFileAppender">
            <file value="${ALLUSERSPROFILE}\Application Data\Lundalogik\LIME Insight\Logs\insight.html" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <datePattern value="yyyyMMdd" />
            <maximumFileSize value="500KB" />
            <maxSizeRollBackups value="2" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern
                    value="&lt;tr class=&quot;log log-%level&quot;&gt;&lt;td class=&quot;log-date&quot;&gt;%date&lt;/td&gt;&lt;td class=&quot;log-level&quot;&gt;%level&lt;/td&gt;&lt;td class=&quot;log-logger&quot;&gt;%logger&lt;/td&gt;&lt;td class=&quot;log-message&quot;&gt;%message&lt;/td&gt;&lt;td class=&quot;log log-exception&quot;&gt;&lt;pre&gt;%exception&lt;/pre&gt;&lt;/td&gt;&lt;/tr&gt;%newline" />
            </layout>
        </appender>
        <logger name="NHibernate" additivity="false">
            <level value="ERROR" />
        </logger>
        <logger name="NHibernate.SQL" additivity="false">
            <level value="ERROR" />
        </logger>
        <logger name="EasyDatabase" additivity="false">
            <level value="WARN" />
        </logger>

        <root>
            <!-- 
            To disable debug logging:
                1. Change value="DEBUG" to value="WARN" below.
                2. Remove the RollingFileAppender by commenting the RollingFileAppender line          
                3. Restart the service.
                  
            Revert the changes to enable debug logging (don't forget!).
            Logs are saved in the Windows Event Log as well as in a file in 
            %ALLUSERSPROFILE%\Application Data\Lundalogik\LIME Insight\Logs\insight.log
        -->
            <level value="INFO" />
            <appender-ref ref="EventLogAppender" />
            <appender-ref ref="RollingFile" />
            <appender-ref ref="MarkupFile" />
        </root>
    </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>