@{
    ViewData["Title"] = "VH trafikskola";
}

    <div class="page-header">
        <h1>Admin</h1>
    </div>

    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">
                @Html.ActionLink("Add Account", "AddAccount", "Home")
            </li>
            <li class="list-group-item">
                @Html.ActionLink("Add Question", "AddQuestion", "Home")
            </li>
        </ul>
    </div>