@model Mk.ViewModels.FolderListViewModel
@{
    ViewData["Title"] = "VH trafikskola";
}
<div class="page-header">
    <h1>Choose a language</h1>
</div>

<div class="row">
    <ul class="list-group">
        @foreach (var lang in Model.languages)
        {
            <li class="list-group-item">
                <img src="@Url.Content($"~/images/{@lang}.png")" alt="image" class="img-responsive flag img-rounded">
                @Html.ActionLink(lang, "Folders", new {language = lang})
            </li>
        }
    </ul>
</div>
