html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.result {
    text-align: center;
}

.question {
    padding-top: 10px;
}

.footer {
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}

.next-button {
    float: right;
}

.prev-button {
    float: left;
}
